<script src="../chain.js"></script>

<script>
    var date = new Date();
    console.log('Start:', date.getSeconds(), date.getMilliseconds());

    /*var chain = */
    new JsExecutionChain('Time')
        .delay(1000)
        .next(function () {
            var date = new Date();
            console.log('+ 1s', date.getSeconds(), date.getMilliseconds());
        })
        .sleep(1000)
        .next(function () {
            var date = new Date();
            console.log('+ 2s', date.getSeconds(), date.getMilliseconds());
        })
        .next(function () {
            var date = new Date();
            console.log('+ 1s', date.getSeconds(), date.getMilliseconds());
        })
        .run();

    var newVar = false;

    /*var chain = */
    new JsExecutionChain('Wait for variable')
        .wait(function () {
            return newVar === true;
        })
        .run();

    setTimeout(function () {
        console.log('newVar is true');
        newVar = true;
    }, 1000);
</script>

